{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <div class="home-container">
        <!--from me to send the user to the js file-->
        {{ request.user.email|json_script:"user_id" }}
        <div class="home-header">
            <div>
                <button id="inbox">Inbox</button>
                <button id="compose">Compose</button>
                <button id="sent">Sent</button>
                <button id="archived">Archived</button>
            </div>
            <div class="home-header__personal">
                <div>{{ request.user.email }}</div>
                <a class="logout" href="{% url 'logout' %}">Log Out</a>
            </div>
        </div>
        <hr>

        <div id="emails-view">
        </div>

        <div id="email-view">
        </div>

        <div id="compose-view">
            <h3>New Email</h3>
            <form id="compose-form">
                <div class="form-email input-container">
                    <p>From: </p><input disabled value="{{ request.user.email }}">
                </div>
                <div class="form-email input-container">
                    <p>To: </p><input placeholder="Send to..." id="compose-recipients">
                </div>
                <div class="input-container">
                    <input id="compose-subject" placeholder="Subject">
                </div>
                <div class="input-container">
                    <textarea id="compose-body" placeholder="Body"></textarea>
                </div>
                <div class="input-container">
                    <input class="button" type="submit" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}