{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <div class="login-container">
        <div class="login-section">
            {% if message %}
                <div class="message-error">{{ message }}</div>
            {% endif %}
        
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div>
                    <input autofocus type="email" name="email" placeholder="Email">
                </div>
                <div>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <input class="button-login" type="submit" value="Login">
            </form>
        
            <div>
                Don't have an account? <a href="{% url 'register' %}">Register here.</a>
            </div>
        </div>
    </div>


{% endblock %}