{% extends "mail/layout.html" %}

{% block body %}
    <div class="login-container">
        <div class="login-section">
            {% if message %}
                <div class="message-error">{{ message }}</div>
            {% endif %}

            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div>
                    <input autofocus maxlength="120" minlength="10" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input maxlength="90" minlength="5" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input maxlength="90" minlength="5" type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <input class="button-login" type="submit" value="Register">
            </form>

            <div>
                Already have an account? <a href="{% url 'login' %}">Log In here.</a>
            </div>
        </div>
    </div>

{% endblock %}